<?xml version="1.0" encoding="UTF-8" ?> 
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee">
    <display-name>fmus-service</display-name> 
    <context-param>
    <param-name>contextConfigLocation</param-name> 
    <param-value>/WEB-INF/application-context.xml</param-value> 
	</context-param>
    <context-param>
        <param-name>liquibase.changelog</param-name> 
        <param-value>com/bss/mailmon/changelog/liquibase_parent.xml</param-value> 
    </context-param>
    <context-param>
		<param-name>liquibase.datasource</param-name> 
		<param-value>jdbc/mailmon</param-value> 
    </context-param>
    <context-param>
        <param-name>liquibase.onerror.fail</param-name> 
	    <param-value>true</param-value> 
	</context-param>
	<security-constraint>
		<display-name>SSL Area</display-name> 
		<web-resource-collection>
		<web-resource-name>all</web-resource-name> 
		<description /> 
		<url-pattern>/*</url-pattern> 
		</web-resource-collection>
		<auth-constraint>
		<role-name>*</role-name> 
		</auth-constraint>
		<user-data-constraint>
		<description>transport-guarantee can be CONFIDENTIAL or NONE</description> 
		<transport-guarantee>NONE</transport-guarantee> 
		</user-data-constraint>
	</security-constraint>
	<listener>
	   <listener-class>liquibase.integration.servlet.LiquibaseServletListener</listener-class> 
	</listener>
	<listener>
	   <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class> 
	</listener>
	<servlet>
	<servlet-name>dispatcher</servlet-name> 
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> 
		<load-on-startup>1</load-on-startup> 
	</servlet>
	<servlet-mapping>
	   <servlet-name>dispatcher</servlet-name> 
	   <url-pattern>/*</url-pattern> 
	</servlet-mapping>
	<session-config>
	   <session-timeout>1</session-timeout> 
	</session-config>
  </web-app>